apiVersion: v1
kind: Service
metadata:
  name: django-service
spec:
  selector:
    app: django
  type: NodePort
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
      nodePort: 30007  # Must be between 30000-32767

